/* ***** reset****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

/* **** general ****+ */

:root {
	--color-bg-main: #141922;
	--color-bg-aside-black: #000000;
	--color-bg-toolbar-graylight: #282828;
	--color-primary-color-w: #ffffff;
	--color-button-gray: #a3a3a3;
	--color-border-green: #9ae22d;
	--color-icon-gray: #808080;
    --color-header:  rgba(0, 0, 0, 0.115);
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 1.5em;
    font-style: normal
}
.wrapper {
    height: 100vh;
}
.content {
    height: calc(100vh / 90px);
}
p {
    padding: 15px 0px 0px 0px;
}
/* ************ utility */
.p-20 {
    padding: 20px;
}
.text-white {
    color: var(--color-primary-color-w);
}
.text-gray {
    color: var(--color-icon-gray);
}
.strong {
    font-weight: bold;
}
.small-text {
    color: var(--color-icon-gray);
    font-weight: 1em;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-uppercase {
        text-transform: uppercase;
}
.border-green {
    width: 7em;
    border-bottom: 1px solid var(--color-border-green);
}
a {
    text-decoration: none;
    padding: 10px;
}
.bg-header {
    background-color: var(--color-header);
}
/* ****** flex utility ******* */
.d-flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.align-items {
    align-items: center;
    align-content: center;
}
/* ********** header **********++ */
.header {
    background-color: rgba(0, 0, 0, 0.115);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    padding: 20px;
    justify-content: flex-end;
}
button {
    border: 1px solid var(--color-primary-color-w);
    border-radius: 20px;
}
button a {
    padding: 15px 30px;
    color: var(--color-primary-color-w);
    background-color: ;
}
/* ********* sidebar ************ */
#sidebar {
    width: 200px;
    background-color: var(--color-bg-aside-black);
    color: var(--color-primary-color-w);
    padding: 20px;
}

/*  ************* main********* */
main {
    background-color: var(--color-bg-main);
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    padding: 100px 20px 20px 20px;
    overflow-y: auto;
}
/* ******** nav *********+ */
.nav {
    padding: 20px;
}
.nav a {
    color: var(--color-icon-gray);
}
/* ********** row******* */
h2 {
    padding: 40px 0 0 0;
    color: var(--color-primary-color-w);
}
.row {
    width: 100%;
    padding: 20px 20px 20px 0;
}
/* ***** card********** */
.card {
    width: calc(100% / 6);
    padding: 20px 20px 20px 0;
    text-align: center;
    gap: 20px;
    min-width: 170px;
}
.card-img {
    width: 100%
}
.card img {
    display: block;
    width: 100%;
    height: 100%;
}
.radious-card {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}
.radious-card img {
    width: 100%;
    object-fit: cover;
}
/* *********** toolbar *********** */
#toolbar {
    height: 90px;
    background-color: aqua;
    padding: 20px;
}

/* ***** query ********** */
@media  screen and (max-width: 992px){
    .main {
        width: 780px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4 - 20px);
    }

}